{% load rest_framework %}


<html><body>
<h1>MESSAGES</h1>
<ul>
    {% for group_message in group_messages %}
    <li>{{ group_message.message }}</li>
    <!--<li>{{ group_message.file_message }}</li>-->
    {% endfor %}
</ul>

<form action="{% url 'test_message' g_id=test_group.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form serializer %}

    <input type="submit" value="SUBMIT">
</form>

<script>

var endpoint = 'ws://' + window.location.host + window.location.pathname
var socket = new WebSocket(endpoint)

socket.onmessage = function(e){
    console.log("message", e)
}

socket.onopen = function(e){
    console.log("open", e)
}

socket.onerror = function(e){
    console.log("error", e)
}

socket.onclose = function(e){
    console.log("close", e)
}

</script>

</body></html>